<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.app.android.ibet">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true" /-->

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:usesCleartextTraffic="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".activity.Signup.Signup"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Signup"
        ></activity>
        <activity android:name=".activity.Signup.fbAuthenticatedActivity"></activity>
        <activity android:name=".activity.Signup.emailAuthP1"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Signup"></activity>
        <activity android:name=".activity.Signup.emailAuthP2"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Signup"></activity>
        <activity android:name=".activity.Signup.emailAuthP3"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Signup"></activity>
        <activity android:name=".activity.Signup.oneClick"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="OneClick"></activity>
        <activity android:name=".activity.Signup.oneClickIntro"></activity>
        <activity android:name=".activity.Signup.Verify"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Verify"></activity>
        <activity android:name=".activity.Signup.VeriEmail"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Verify"></activity>
        <activity android:name=".activity.Signup.VeriPhone"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Verify"></activity>
        <activity android:name=".activity.Signup.Verified"></activity>
        <activity android:name=".activity.Signup.PhoneCode"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Verify"></activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
                   android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                          "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:label="@string/app_name" />
        <activity
                android:name="com.facebook.CustomTabActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


        <activity android:name=".activity.OnBoarding.IntroOne"></activity>
        <activity android:name=".activity.OnBoarding.IntroTwo"></activity>
        <activity android:name=".activity.OnBoarding.IntroThree"></activity>
        <activity android:name=".activity.OnBoarding.IntroFour"></activity>


        <activity android:name=".activity.Login.Login"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Login">
        </activity>
        <activity android:name=".activity.Login.ForgotPass"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="ForgotPassword"></activity>
        <activity android:name=".activity.Login.NewPass"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="ForgotPassword"></activity>


        <activity android:name=".activity.UserProfile.MyAccount"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="My Account"></activity>

        <activity android:name=".activity.UserProfile.Edit"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Edit"></activity>
        <activity android:name=".activity.UserProfile.Bets"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Bets"></activity>
        <activity android:name=".activity.UserProfile.Transactions.Deposit"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Bets"></activity>

        <activity android:name=".activity.UserProfile.Settings"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Settings"></activity>
        <activity android:name=".activity.UserProfile.Help"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Help"
        ></activity>
        <activity android:name=".activity.UserProfile.Responsible"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Responsible"></activity>
        <activity android:name=".activity.UserProfile.Promotion"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Promotion"></activity>
        <activity android:name=".activity.UserProfile.ChangePass"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Change Password"></activity>
        <activity android:name="com.app.android.ibet.activity.UserProfile.Transactions.DepositMethod.Paypal"></activity>
        <activity android:name="com.app.android.ibet.activity.UserProfile.Transactions.DepositMethod.QaiWechat"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Deposit"
        ></activity>
        <activity android:name="com.app.android.ibet.activity.UserProfile.Transactions.DepositMethod.VisaInfo"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Deposit"
        ></activity>
        <activity android:name="com.app.android.ibet.activity.UserProfile.Transactions.DepositMethod.Visa"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Deposit"
        ></activity>
        <activity android:name="com.app.android.ibet.activity.UserProfile.Transactions.DepositMethod.QaiAli"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Deposit"
        ></activity>
        <activity android:name="com.app.android.ibet.activity.UserProfile.Transactions.DepositMethod.LinePay"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Deposit"
        ></activity>
        <activity android:name="com.app.android.ibet.activity.UserProfile.Transactions.DepositMethod.Astropay"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Deposit"
        ></activity>
        <activity android:name="com.app.android.ibet.activity.UserProfile.Transactions.DepositMethod.BankDep"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Deposit"
        ></activity>
        <activity android:name="com.app.android.ibet.activity.UserProfile.Transactions.DepositMethod.JDPay"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Deposit"
        ></activity>
        <activity android:name="com.app.android.ibet.activity.UserProfile.Transactions.DepositMethod.QuickPay"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Deposit"
        ></activity>
        <activity android:name="com.app.android.ibet.activity.UserProfile.Transactions.DepositMethod.UnionPay"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Deposit"
        ></activity>
        <activity android:name=".activity.UserProfile.Transactions.Total"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Total Wealth"
        ></activity>
        <activity android:name=".activity.UserProfile.Transactions.DepositMethod.Success"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Deposit"
        ></activity>
        <activity android:name=".activity.UserProfile.Transactions.DepositMethod.WechatOpenPage"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Deposit"
        ></activity>
        <activity android:name=".activity.UserProfile.Transactions.DepositMethod.AliOpenPage"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Deposit"
        ></activity>
        <activity android:name=".activity.UserProfile.Transactions.WithdrawMethod.BankOpenPage"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Withdraw"
        ></activity>
        <activity android:name=".activity.UserProfile.Transactions.Withdraw"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Withdraw Method"
        ></activity>
        <activity android:name=".activity.UserProfile.Transactions.WithdrawMethod.Bank"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Withdraw"
        ></activity>
        <activity android:name=".activity.UserProfile.Transactions.WithdrawMethod.SuccessWithdraw"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Withdraw"

        ></activity>

    </application>

</manifest>