<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.app.android.ibet">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true" /-->

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:usesCleartextTraffic="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".activity.Signup.Signup">
        </activity>

        <activity android:name=".activity.Signup.fbAuthenticatedActivity">
        </activity>

        <activity android:name=".activity.Signup.emailAuthP1">
        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
                   android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                          "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:label="@string/app_name" />
        <activity
                android:name="com.facebook.CustomTabActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Signup.emailAuthP2"/>

        <activity android:name=".activity.Signup.emailAuthP3">
        </activity>
        <activity android:name=".activity.OnBoarding.IntroOne">
        </activity>
        <activity android:name=".activity.OnBoarding.IntroTwo">
        </activity>
        <activity android:name=".activity.OnBoarding.IntroThree">
        </activity>
        <activity android:name=".activity.OnBoarding.IntroFour">
        </activity>
        <activity android:name=".activity.Signup.oneClick">
        </activity>
        <activity android:name=".activity.Signup.oneClickIntro">
        </activity>
        <activity android:name=".activity.Login"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:label="Login"
        >

        </activity>
        <activity android:name=".activity.Signup.Verify">

        </activity>
        <activity android:name=".activity.Signup.VeriEmail">

        </activity>
        <activity android:name=".activity.Signup.VeriPhone">

        </activity>
        <activity android:name=".activity.ForgotPass"></activity>
        <activity android:name=".activity.Signup.Verified"></activity>
        <activity android:name=".activity.Signup.PhoneCode"></activity>


    </application>

</manifest>