<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.app.android.ibet">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".activity.GameLobby.Games">
        </activity>
        <activity
                android:name=".activity.MainActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.Signup.Signup"
                android:label="Signup"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activity.Signup.fbAuthenticatedActivity"/>
        <activity
                android:name=".activity.Signup.emailAuthP1"
                android:label="Signup"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.Signup.emailAuthP2"
                android:label="Signup"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.Signup.emailAuthP3"
                android:label="Signup"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.Signup.oneClick"
                android:label="OneClick"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activity.Signup.oneClickIntro"/>
        <activity
                android:name=".activity.Signup.Verify"
                android:label="Verify"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.Signup.VeriEmail"
                android:label="Verify"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.Signup.VeriPhone"
                android:label="Verify"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activity.Signup.Verified"/>
        <activity
                android:name=".activity.Signup.PhoneCode"
                android:label="Verify"
                android:theme="@style/Theme.AppCompat.Light"/>

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id"/>

        <activity
                android:name="com.facebook.FacebookActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:label="@string/app_name"/>
        <activity
                android:name="com.facebook.CustomTabActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.OnBoarding.IntroOne"/>
        <activity android:name=".activity.OnBoarding.IntroTwo"/>
        <activity android:name=".activity.OnBoarding.IntroThree"/>
        <activity android:name=".activity.OnBoarding.IntroFour"/>
        <activity
                android:name=".activity.Login.Login"
                android:label="Login"
                android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
                android:name=".activity.Login.ForgotPass"
                android:label="ForgotPassword"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.Login.NewPass"
                android:label="ForgotPassword"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.MyAccount"
                android:label="Profile"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Edit"
                android:label="Edit"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Bets"
                android:label="Bets"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Banking.Deposit"
                android:label="Bets"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Settings"
                android:label="Settings"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Help"
                android:label="Help"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Responsible"
                android:label="Responsible"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Promotion"
                android:label="Promotion"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.ChangePass"
                android:label="Change Password"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activity.UserProfile.Banking.DepositMethod.Paypal"/>
        <activity
                android:name=".activity.UserProfile.Banking.DepositMethod.QaiWechat"
                android:label="Deposit"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Banking.DepositMethod.VisaInfo"
                android:label="Deposit"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Banking.DepositMethod.Visa"
                android:label="Deposit"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Banking.DepositMethod.QaiAli"
                android:label="Deposit"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Banking.DepositMethod.LinePay"
                android:label="Deposit"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Banking.DepositMethod.AstropayInfo"
                android:label="Deposit"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Banking.DepositMethod.BankDep"
                android:label="Deposit"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Banking.DepositMethod.JDPay"
                android:label="Deposit"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Banking.DepositMethod.QuickPay"
                android:label="Deposit"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Banking.DepositMethod.UnionPay"
                android:label="Deposit"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Banking.DepositMethod.Help2payOpenPage"
                android:label="Deposit"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Banking.Total"
                android:label="Total Wealth"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Banking.DepositMethod.Success"
                android:label="Deposit"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Banking.DepositMethod.WechatOpenPage"
                android:label="Deposit"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Banking.DepositMethod.AliOpenPage"
                android:label="Deposit"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Banking.WithdrawMethod.BankOpenPage"
                android:label="Withdraw"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Banking.Withdraw"
                android:label="Withdraw Method"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Banking.WithdrawMethod.Bank"
                android:label="Withdraw"
                android:theme="@style/Theme.AppCompat.Light"/>
        <activity
                android:name=".activity.UserProfile.Banking.WithdrawMethod.SuccessWithdraw"
                android:label="Withdraw"
                android:theme="@style/Theme.AppCompat.Light"/>
    </application>

</manifest>